@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.night {
    background-image: url(./assests/90735-animated-landscape-2560x1440-wallpaper.png);
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    @apply flex flex-col space-y-6 p-2 sm:p-4 min-h-screen w-full py-12;
}

.day {
    background-image: url(./assests/311377-minimalist-mountain-wallpaper-hd-inspirational-minimalism-birds.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    @apply flex flex-col space-y-6 p-2 sm:p-4 min-h-screen w-full py-12;
}

.detail-span {
    @apply flex flex-col space-y-4 items-center justify-center sm:p-2 md:border md:border-gray-500 w-1/4 rounded; 
}
