@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.night {
    background-image: url(./assests//backgrounds/nightBackground.png);
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    @apply flex flex-col space-y-6 p-2 sm:p-4 min-h-screen w-full py-12;
}

.day {
    background-image: url(./assests/backgrounds/dayBackground.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(90%);
    @apply flex flex-col space-y-6 p-2 sm:p-4 min-h-screen w-full py-12;
}

.detail-span {
    @apply flex flex-col space-y-4 items-center justify-center sm:p-2 md:border md:border-gray-500 w-1/4 rounded; 
}
